<form [formGroup]="form" (submit)="onSubmit()">

    <div class="form-group mb-3">
        <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="email" />
    </div>

    <div class="form-group mb-3">
        <div class="d-grid h-3">
            <select class="custom-select f-size mb-3" (change)="changeCity($event)" formControlName="cityName">
                <option value="">Select the Required Weeks</option>
                <option *ngFor="let city of City" [ngValue]="city">
                    {{ city }}
                </option>
            </select>
            <!-- error block -->
            <!-- <div class="invalid-feedback" *ngIf="isSubmitted && cityName?.invalid">
                <sup>*</sup>Please provide city name
            </div> -->
        </div>
    </div>

    <div class="form-group mb-3">
        <div class="d-grid h-3">
            <select class="custom-select f-size mb-3" (change)="changeIndustry($event)" formControlName="industryName">
                <option value="">Select the Required Industry</option>
                <option *ngFor="let industry of Industry" [ngValue]="industry">
                    {{ industry }}
                </option>
            </select>
            <!-- error block -->
            <!-- <div class="invalid-feedback" *ngIf="isSubmitted && cityName?.invalid">
                <sup>*</sup>Please provide city name
            </div> -->
        </div>
    </div>

    <div class="form-group mb-3">
        <input type="text" formControlName="organisationName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['organisationName'].errors }" placeholder="organisation Name" />
        <div *ngIf="submitted && f['organisationName'].errors" class="invalid-feedback">
            <div *ngIf="f['organisationName'].errors['required']">organisation Name is required</div>
        </div>
    </div>

    <div class="form-group mb-3">
        <input type="text" formControlName="organisationWebsite" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['organisationWebsite'].errors }"
            placeholder="organisation Website" />
        <div *ngIf="submitted && f['organisationWebsite'].errors" class="invalid-feedback">
            <div *ngIf="f['organisationWebsite'].errors['required']">organisation Website is required</div>
        </div>
    </div>

    <div class="form-group mb-3">
        <input type="text" formControlName="ContactPerson" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['ContactPerson'].errors }" placeholder="Contact Person" />
        <div *ngIf="submitted && f['ContactPerson'].errors" class="invalid-feedback">
            <div *ngIf="f['ContactPerson'].errors['required']">Contact Person is required</div>
        </div>
    </div>

    <div class="form-group mb-3">
        <input type="text" formControlName="ContactEmail" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['ContactEmail'].errors }" placeholder="Contact Email" />
        <div *ngIf="submitted && f['ContactEmail'].errors" class="invalid-feedback">
            <div *ngIf="f['ContactEmail'].errors['required']">Contact Email is required</div>
            <div *ngIf="f['ContactEmail'].errors['ContactEmail']">Contact Email is invalid</div>
        </div>
    </div>

    <div class="form-group mb-3">
        <input type="text" formControlName="Technology" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['Technology'].errors }" placeholder="Technology" />
        <div *ngIf="submitted && f['Technology'].errors" class="invalid-feedback">
            <div *ngIf="f['Technology'].errors['required']">Technology is required</div>
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="value">Accept Letter From organisation</label>
        <div *ngIf="typeOfUrl">
        <img [src]="urlType" width="200"> </div><br/>
        <input class="form-control" (change)="onSelectFileType($event)" id="formFileLg" type="file">
    </div>

    <div class="form-group mb-3">
        <label for="value">Request Letter</label>
        <div *ngIf="fileTypeofUrl">
        <img [src]="url" width="200"></div> <br/>
        <input class="form-control" id="formFileLg" (change)="onSelectFile($event)" type="file">
    </div>

    <div class="form-group mb-3">
        <input class="btn btn-danger" [disabled]="!form.valid" type="submit">
    </div>

</form>