<div class="container">
    <div class="row justify-center-center align-items-center vh-100">
        <div class="col-sm-3">
          <div class="card card-width">
            <img src="../../../assets/photos/student.png" class="card-img-top img-width" alt="student">
            <div class="card-body">
              <h5 class="card-title text-center">STUDENT</h5> <br>
              <button (click)="studentClick()" class="btn btn-primary w-100">Signup</button>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-width">
                <img src="../../../assets/photos/staff.png" class="card-img-top img-width" alt="staff">
                <div class="card-body">
                  <h5 class="card-title text-center">STAFF</h5> <br>
                  <button (click)="staffClick()" class="btn btn-primary w-100">Signup</button>
                </div>
              </div>
          </div>
          <div class="col-sm-3">
            <div class="card card-width">
                <img src="../../../assets/photos/hod.png" class="card-img-top img-width" alt="hod">
                <div class="card-body">
                  <h5 class="card-title text-center">HOD</h5> <br>
                  <button (click)="hodClick()" class="btn btn-primary w-100">Signup</button>
                </div>
              </div>
          </div>
        <div class="col-sm-3">
            <div class="card card-width">
                <img src="../../../assets/photos/admin.png" class="card-img-top img-width" alt="admin">
                <div class="card-body">
                  <h5 class="card-title text-center">ADMIN</h5> <br>
                  <button (click)="adminClick()" class="btn btn-primary w-100">Signup</button>
                </div>
              </div>
        </div>
      </div>
</div>